.contactCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  max-width: 400px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contactInfo p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}
.deleteBtn {
  background-color: rgb(211, 211, 211);
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: gray;
}
